<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
	<connectionStrings>
		<add name="MySQLDB2"
		  connectionString ="server=titansreallyrule.info;user=d6304c5_Team3;password=sql_003003;database=d6304c5_Team3;port=3306"
                   />
	</connectionStrings>
</configuration>