html {
    margin: 0px;
    background-image: url(https://images1.houstonpress.com/imager/u/original/7423511/9683304.0.jpg); 
    background-repeat: repeat-y;
    background-color: darkgray;
    background-attachment: scroll;
    background-size: cover;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    display:flex;
    flex-direction: column; 
    background-color: rgb(129, 129, 129);
    margin: auto;
}

img[src="../Images/banner.jpg"] {
    min-width: 100%;
    max-height: 10vh;
    margin: 0;
    padding: 0;
}
li > a {
    text-decoration: none;
    color: inherit;
}
ul#navbar {
    align-self: center;
    list-style-type: none;
    margin: 5px;
    padding: 2px;
}
ul#navbar > li {
    border-style: solid;
    background-color: CornflowerBlue;
    border: 0px;
    
    float: left;
}
ul#navbar > li:hover {
    background-color: blue;
}
footer {
    text-align: center;
    font-size: 12pt;
    padding: 2px;
    background-color: cornflowerblue;
}
@media only screen and (max-width:399px) {
    body {
        max-width: 90vw;
    }
    ul#navbar > li {
        font-size: 10pt;
        padding: 5px; 
    }
}
@media only screen and (min-width:400px) {
    body {
        max-width: 80vw;
    }
    ul#navbar > li {
        font-size: 10pt;
        padding: 5px; 
    }
}
@media only screen and (min-width:600px) {
    ul#navbar > li {
        font-size: 12pt;
        padding-right: 7px;
        padding-left: 7px; 
    }
}
@media only screen and (min-width:800px) {
    body {
        max-width: 75vw;
    }
    ul#navbar > li {
        font-size: 16pt;
        padding-right: 12px;
        padding-left: 12px; 
    }
}
@media only screen and (min-width:1200px) {
    body {
        max-width: 50vw;
    }
    ul#navbar > li {
        font-size: 18pt;
    }
} 
